html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #091833;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #711c91;
  padding-left: 20px;
}
h2 {
  color: #ea00d9;
  padding-left: 20px;
}

h3 {
  color: #0abdc6;
  padding-left: 40px;
}

h4 {
  color: #133e7c;
}
