html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;

  background-color: #eceff1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*https://material.io/design/color/the-color-system.html#tools-for-picking-colors*/

h1 {
  color: #546e7a;
  padding-left: 20px;
}
h2 {
  color: #455a64;
  padding-left: 20px;
}

h3 {
  color: #37474f;
  padding-left: 40px;
}

h4 {
  color: #37474f;
}

li {
  color: #37474f;
}
